.vscode/

#AUTH SERVICE GIT IGNORE
!auth-service/.gitignore

#BOOK SERVICE GIT IGNORE
!book-service/.gitignore

#CUSTOMER SERVICE GIT IGNORE
!customer-service/.gitignore

#ORDER SERVICE GIT IGNORE
!order-service/.gitignore

#EMAIL BOT GIT IGNORE
!email-bot/.gitignore